.container {
    align-content: center;
    background: transparent;
    background: var(--gray-400);
    display: flex;
    flex-direction: column;
    height: 16.6875rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 46rem;
}

.spacer {
    margin-top: 0rem;
}